doYourNotify.json
[{"id":"973a0374.4100e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ce612d93.2e398","type":"http in","z":"973a0374.4100e","name":"/myoctopi/lineNotify","url":"/myoctopi/lineNotify","method":"post","upload":true,"swaggerDoc":"","x":290,"y":480,"wires":[["4c18282b.3a3c78","1ca80acc.5b9205"]]},{"id":"4c18282b.3a3c78","type":"debug","z":"973a0374.4100e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":320,"wires":[]},{"id":"350c036f.b583ec","type":"function","z":"973a0374.4100e","name":"Preparing data to call linenotify","func":"const TOKEN = '<Put your LINE Notify Token Here>'\nconst LINEURL = 'https://notify-api.line.me/api/notify'\nconst input = msg.payload\nconst message = input.message\nconst currentTime = input.currentTime\nconst smallImage = `<Your small image not over 240x240 on PI>/myoctopi/small?x=${currentTime}`\nconst bigImage = `<Your full image not over 2000x2000 on PI>/myoctopi/full?x=${currentTime}`\nmsg = {}\nmsg.url = LINEURL\nmsg.headers = {\n  'content-type': 'application/x-www-form-urlencoded',\n  Authorization: 'Bearer ' + TOKEN\n}\nmsg.payload = {\n  message: message,\n  imageThumbnail: smallImage,\n  imageFullsize: bigImage\n}\nreturn msg\n","outputs":1,"noerr":0,"x":850,"y":480,"wires":[["2c62a01.155946","890e17b4.f5c608"]]},{"id":"1ca80acc.5b9205","type":"switch","z":"973a0374.4100e","name":"Check apiSecret","property":"payload.apiSecret","propertyType":"msg","rules":[{"t":"eq","v":"youDesireKey","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":480,"wires":[["350c036f.b583ec","51f77e3d.721c3"],["533d5af5.df51a4"]]},{"id":"533d5af5.df51a4","type":"http response","z":"973a0374.4100e","name":"Return 409 error","statusCode":"409","headers":{},"x":820,"y":580,"wires":[]},{"id":"51f77e3d.721c3","type":"http response","z":"973a0374.4100e","name":"Return 200 OK","statusCode":"200","headers":{},"x":860,"y":360,"wires":[]},{"id":"2c62a01.155946","type":"http request","z":"973a0374.4100e","name":"Call LINE Notify","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1180,"y":480,"wires":[["5ebbc3ab.88bbec"]]},{"id":"890e17b4.f5c608","type":"debug","z":"973a0374.4100e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":380,"wires":[]},{"id":"5ebbc3ab.88bbec","type":"debug","z":"973a0374.4100e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":380,"wires":[]},{"id":"9dd12295.2b696","type":"http in","z":"973a0374.4100e","name":"","url":"/myoctopi/full","method":"get","upload":true,"swaggerDoc":"","x":330,"y":840,"wires":[["708ea968.57c4e8"]]},{"id":"708ea968.57c4e8","type":"http request","z":"973a0374.4100e","name":"Get Image from WebCam","method":"GET","ret":"bin","paytoqs":false,"url":"http://<you ip webcam>/shot.jpg","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":840,"wires":[["491bde6.4ab512"]]},{"id":"86b8ccd8.47aa5","type":"image","z":"973a0374.4100e","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1040,"y":920,"wires":[]},{"id":"491bde6.4ab512","type":"file","z":"973a0374.4100e","name":"Home path /home/pi","filename":"myimage/snapshot/full.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":960,"y":840,"wires":[["86b8ccd8.47aa5","d4355cac.64a3b"]]},{"id":"d4355cac.64a3b","type":"file in","z":"973a0374.4100e","name":"","filename":"/home/pi/myimage/snapshot/full.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":1350,"y":840,"wires":[["b8c526d1.0a9ac8","f3ed213e.46ed"]]},{"id":"b8c526d1.0a9ac8","type":"image","z":"973a0374.4100e","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1260,"y":940,"wires":[]},{"id":"f3ed213e.46ed","type":"change","z":"973a0374.4100e","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":840,"wires":[["ccaa150f.37c478"]]},{"id":"ccaa150f.37c478","type":"http response","z":"973a0374.4100e","name":"","x":1870,"y":840,"wires":[]},{"id":"a1ab5b3e.3735d8","type":"http in","z":"973a0374.4100e","name":"","url":"/myoctopi/small","method":"get","upload":true,"swaggerDoc":"","x":340,"y":1120,"wires":[["383c32ab.42582e"]]},{"id":"383c32ab.42582e","type":"http request","z":"973a0374.4100e","name":"Get Image from WebCam","method":"GET","ret":"bin","paytoqs":false,"url":"http://<you ip webcam>/shot.jpg","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":1120,"wires":[["817bf98d.eec618"]]},{"id":"bc18d25.a18f53","type":"image","z":"973a0374.4100e","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1020,"y":1260,"wires":[]},{"id":"a52fe92d.ff6ec8","type":"file","z":"973a0374.4100e","name":"Home Path /home/pi","filename":"myimage/snapshot/small.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":960,"y":1120,"wires":[["bc18d25.a18f53","e80b3c8d.e2147"]]},{"id":"e80b3c8d.e2147","type":"file in","z":"973a0374.4100e","name":"","filename":"/home/pi/myimage/snapshot/small.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":1350,"y":1120,"wires":[["41ab1619.de1f08","17bb237d.1eff2d"]]},{"id":"41ab1619.de1f08","type":"image","z":"973a0374.4100e","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1340,"y":1240,"wires":[]},{"id":"17bb237d.1eff2d","type":"change","z":"973a0374.4100e","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":1120,"wires":[["5078d80d.8113e8"]]},{"id":"5078d80d.8113e8","type":"http response","z":"973a0374.4100e","name":"","x":1870,"y":1120,"wires":[]},{"id":"817bf98d.eec618","type":"jimp-image","z":"973a0374.4100e","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"240","parameter1Type":"num","parameter2":"240","parameter2Type":"num","parameter3":"RESIZE_NEAREST_NEIGHBOR","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":670,"y":1240,"wires":[["a52fe92d.ff6ec8"]]},{"id":"64b3996b.fcecf8","type":"function","z":"973a0374.4100e","name":"Custom Test","func":"const currentTime = msg.payload\nmsg.payload = {\n    message: 'test1234',\n    currentTime: currentTime\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["350c036f.b583ec"]]},{"id":"b9ca96b8.4b3ea8","type":"inject","z":"973a0374.4100e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":680,"wires":[["64b3996b.fcecf8"]]}]
